@using ASPWebApp.Models.Dto
@model List<Enrollment>

@{
    //person can't be null here
    ViewData["Title"] = $"{Model[0].Person!.FirstName} {Model[0].Person!.LastName}";
}

<h2>All enrollments of @Model[0].Person?.FirstName @Model[0].Person?.LastName</h2>

@using (Html.BeginForm("EnrollRedirect", "Person", FormMethod.Post))
{
    @Html.Hidden("PersonId", Model[0].Person?.ID)
    @Html.Hidden("FirstName", Model[0].Person?.FirstName)
    @Html.Hidden("LastName", Model[0].Person?.LastName)

    <button type="submit" class="btn btn-primary">Enroll</button>
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Course name</th>
            <th>Enrollment date</th>
            <th>Completion date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model ?? throw new NullReferenceException("Enrollments are null"))
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Course?.CourseName</td>
                <td>@item.EnrollmentDate</td>
                <td>@item.CompletionDate</td>
                <td>
                    <form asp-action="Complete" asp-route-id="@item.ID" method="post" onsubmit="return confirm('Are you sure you want to mark this course as completed?');">
                        <button type="submit" class="btn btn-primary">Complete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>