@model ASPWebApp.Models.Dto.EnrollPersonPageModel

@{
    ViewData["Title"] = "Enroll";
}

<h1>Enroll</h1>

<h4>@Model.FirstName @Model.LastName</h4>
<hr />
@using (Html.BeginForm("Enroll", "Person", FormMethod.Post))
{
    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(Model => Model.SelectedCourseId)
        @Html.DropDownListFor(Model => Model.SelectedCourseId, Model.Courses, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(model => model.PersonId)
    <button type="submit" class="btn btn-primary">Submit</button>
}

<div>
    <a asp-action="Details" asp-route-id="@Model.PersonId">Back to Details</a>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}